<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row p-5">
            <div class="col-12 col-md-6 mb-3">
                <label>Account</label>
                <input v-model="inputData.Account" v-bind:class="{ 'is-invalid': inputDataCheck.AccountError }"
                    class="form-control" type="text">
                <div class="text-danger small mt-1">
                    {{ inputDataCheck.AccountErrorMsg }}
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Password</label>
                <input v-model="inputData.Password" v-bind:class="{ 'is-invalid': inputDataCheck.PasswordError }"
                    class="form-control" type="password">
                <div class="text-danger small mt-1">
                    {{ inputDataCheck.PasswordErrorMsg }}
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>CheckPassword</label>
                <input v-model="inputData.CheckPassword"
                    v-bind:class="{ 'is-invalid': inputDataCheck.CheckPasswordError }" class="form-control"
                    type="password">
                <div class="text-danger small mt-1">
                    {{ inputDataCheck.CheckPasswordErrorMsg }}
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Name</label>
                <input v-model="inputData.Name" class="form-control" type="text">
                <div class="text-danger small mt-1">

                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Tel</label>
                <input v-model="inputData.Tel" class="form-control" type="text">
                <div class="text-danger small mt-1">

                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Address</label>
                <input v-model="inputData.Address" class="form-control" type="text">
                <div class="text-danger small mt-1">

                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Single</label>
                <b-form-checkbox v-model="inputData.Single" switch size="lg">{{ inputData.Single ? '單身Go' : '馬子Go' }}
                </b-form-checkbox>
            </div>
        </div>
        <span class="d-inline-block" tabindex="0">
            <b-button variant="success" v-bind:disabled="AddVerify == false">新增</b-button>
        </span>
    </div>

    <script>
        var form = new Vue({
            el: '#app',
            data: {
                AddVerify: true,

                inputData: {
                    Account: '',
                    Password: '',
                    CheckPassword: '',
                    Name: '',
                    Tel: '',
                    Adress: '',
                    Single: true
                },
                inputDataCheck: {
                    AccountError: false,
                    AccountErrorMsg: '',
                    PasswordError: false,
                    PasswordErrorMsg: '',
                    CheckPasswordError: false,
                    CheckPasswordErrorMsg: '',
                }
            },
            watch: {
                'inputData.Account': {
                    immediate: true,
                    handler: function () {
                        if (this.inputData.Account == '') {
                            this.inputDataCheck.AccountError = true;
                            this.inputDataCheck.AccountErrorMsg = '帳號不得為空';
                        }
                        else if (this.inputData.Account.length < 8) {
                            this.inputDataCheck.AccountError = true;
                            this.inputDataCheck.AccountErrorMsg = '帳號長度不得小於8碼';
                        }
                        else {
                            this.inputDataCheck.AccountError = false;
                            this.inputDataCheck.AccountErrorMsg = '';
                        }

                        this.checkAddVerrify();
                    }
                },
                'inputData.Password': function () {
                    let passwordRegexp = /^[0-9]*$/;

                    this.inputDataCheck.CheckPasswordError = false
                    this.inputDataCheck.CheckPasswordErrorMsg = ''

                    if (!passwordRegexp.test(this.inputData.Password)) {
                        this.inputDataCheck.PasswordError = true
                        this.inputDataCheck.PasswordErrorMsg = '密碼必須要為數字'
                    }
                    else if (this.inputData.Password != '') {
                        this.inputDataCheck.CheckPasswordError = true
                        this.inputDataCheck.CheckPasswordErrorMsg = '密碼與第一次輸入不吻合'
                    }
                    else {
                        this.inputDataCheck.PasswordError = false
                        this.inputDataCheck.PasswordErrorMsg = ''
                    }

                    this.checkAddVerrify();
                },
                'inputData.CheckPassword': function () {
                    if (this.inputData.CheckPassword != this.inputData.Password) {
                        this.inputDataCheck.CheckPasswordError = true
                        this.inputDataCheck.CheckPasswordErrorMsg = '密碼與第一次輸入不吻合'
                    }
                    else {
                        this.inputDataCheck.CheckPasswordError = false
                        this.inputDataCheck.CheckPasswordErrorMsg = ''
                    }

                    this.checkAddVerrify();
                }
            },
            methods: {
                checkAddVerrify() {
                    for (let index in this.inputDataCheck) {
                        if (this.inputDataCheck[index] == true) {
                            this.AddVerify = false;
                            return;
                        }
                    }
                    this.AddVerify = true;
                }
            },
        });
    </script>
</body>

</html>