* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.img-list {
    display: flex;
    margin: 150px auto 10px auto;
    justify-content: center;
}

.color-list {
    display: flex;
    justify-content: center;
}

.btn {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.gray-btn { background-color: #adadad; }
.red-btn { background-color: #ff0000; }

.gray-btn:hover { background-color: #bdbdbd; }
.red-btn:hover { background-color: #ff5f5f; }

.img-list { 
    position: relative; 
    min-width: 1180px;
    height: 400px;
}
.img-list img {
    display: none; 
    position: absolute;
}